*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.home-page{
    display: flex;
    color: white;
    flex-direction: column;
    height: fit-content;
    min-height: 100vh;
    background-image: radial-gradient(circle at 50% -80%, #20327B 10%, #1D2D6C 22%, #1A285E 33%, #182556 39%, #152047 51%, #101731 69%, #0B0F19 88%) ;
    background-repeat: no-repeat;
    background-size: 100% 1000px;
    background-color: #0B0F19;
}



.hero-section{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.search-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.search-bar-wrapper{
    display: flex;
    flex-direction: column;
    background-color: rgba(21, 21, 21, 44%);
    backdrop-filter: blur(10px);
    padding: 20px;
    width: 50%;
    gap: 10px;
    border-radius: 10px;
}

.search-bar{
    display: flex;
}

.search-btn{
    padding: 10px 20px;
    font-family: var(--secondary-font);
    background-color: #D9D9D9;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.search-btn:hover{
    box-shadow:  0px 0px 5px 1px white;
}

.search-bar > form{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: rgba(163, 158, 158, 20%);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    gap: 10px;
}

.search-bar > form > input{
    flex: 1;
    appearance: none;
    background-color: transparent;
    border: none;
    font-family: var(--secondary-font);
    color: white;
}



.search-bar > form > input:focus{
    outline: none; 
}


.filter-container{
    display: flex;
    justify-content: space-between;
}

.filter-container  button{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    background-color: #2F2F34;
    color: white;
    border: none;
    font-family: var(--secondary-font);
    border-radius: 5px;
    font-size: var(--text-normal-small);
    cursor: pointer;
}

.filter-container button:hover{
     box-shadow:  0px 0px 5px 1px white;
}

.filter-container button > svg{
    height: 10px;
    width: auto;
}

.filter-container button span{
    color: #A8A7A7;
}

.secondary-filter-wrapper{
    display: flex;
    gap: 10px;
}



.hero-section span{
    color: var(--header-text-color);

}

.text-hero-section{
    margin: 0;
    padding: 0;
    font-size: var(--text-header-medium);
    font-family: var(--primary-font);
    color: white;
    text-align: center;
}

.type-filter{
    position: relative;
}

.dropdown-wrapper{
    position: absolute;
    left: 0;
    top: 94%;
    right: 0;
    width: 100%;
    max-height: 80px;
    overflow: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #2F2F34;
    display: flex;
    flex-direction: column;
    gap:3px;
    text-align: start;
}
.dropdown-wrapper::-webkit-scrollbar{
    width: 5px;
}
.dropdown-wrapper::-webkit-scrollbar-thumb{
    background-color:#A8A7A7 ;
}
.dropdown-wrapper::-webkit-scrollbar-track{
    background-color: #252529;
}

.search-in-filter, .language-filter{
    position: relative;
}

.language-filter{
    padding: 0px 10px !important;
}

.item-type{
    width: 100%;
    padding: 0px 6px !important;
    border-radius: 0 !important;

}

.sort-filter{
    position: relative;
}


.item-type:hover{
    background-color: #A8A7A7;
}

.result-container{
    flex: 1;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 370px);
    row-gap: 30px;
    column-gap: 40px;
    justify-content: center;
    padding: 0px 40px;
}

.result-text-header{
    grid-row: 1/1;
    grid-column: 1/4;   
    padding: 0px 10px;
    border-left: 3px solid var(--header-text-color);
}

.search-result-data{
    display: flex;
    gap: 20px;
    font-family: var(--secondary-font);
    align-items: center;
}

.search-result-data > p:nth-child(1){
    font-size: var(--text-header-small);
}

.search-result-data > p:nth-child(2){
    color: #B3B3B3;
    font-size: var(--text-normal-meduim);
}

.load-more-container{
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.load-more-btn{
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    background-color: transparent;
    border: none;
    font-family: var(--secondary-font);
    color: white;
    font-size: var(--text-normal-meduim);
    cursor: pointer;
}

.load-more-btn:hover{
    color: var(--header-text-color);
}