*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.home-page{
    display: flex;
    color: white;
    flex-direction: column;
    height: 100vh;
    background-image: radial-gradient(circle at top, #20327B 10%, #1D2D6C 22%, #1A285E 33%, #182556 39%, #152047 51%, #101731 69%, #0B0F19 88%) ;
}

.hero-section{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.search-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar-wrapper{
    display: flex;
    flex-direction: column;
    background-color: rgba(21, 21, 21, 44%);
    backdrop-filter: blur(10px);
    padding: 20px;
    width: 50%;
    gap: 10px;
    border-radius: 10px;
}

.search-bar{
    display: flex;
}

.search-btn{
    padding: 10px 20px;
    font-family: var(--secondary-font);
    background-color: #D9D9D9;
    border-radius: 10px;
    border: none;
}

.search-bar > form{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: rgba(163, 158, 158, 20%);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    gap: 10px;
}

.search-bar > form > input{
    flex: 1;
    appearance: none;
    background-color: transparent;
    border: none;
    font-family: var(--secondary-font);
}

.search-bar > form > input:focus{
    outline: none;
}

.filter-container{
    display: flex;
    justify-content: space-between;
}

.filter-container  button{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    background-color: #2F2F34;
    color: white;
    border: none;
    font-family: var(--secondary-font);
    border-radius: 5px;
    font-size: var(--text-normal-small);
}

.filter-container button > svg{
    height: 10px;
    width: auto;
}

.filter-container button span{
    color: #A8A7A7;
}

.secondary-filter-wrapper{
    display: flex;
    gap: 10px;
}



.hero-section span{
    color: var(--header-text-color);
}

.text-hero-section{
    margin: 0;
    padding: 0;
    font-size: var(--text-header-medium);
    font-family: var(--primary-font);
    color: white;
    text-align: center;
}